@charset "UTF-8";
/* agrego @media para cumplir con la entrega*/
/* cambio colores y tamaños de index */
@media (max-width: 600px) {
  .main__contenido_index h2 {
    font-size: 50px;
    font-weight: 500;
    text-align: center;
  }
  .main__contenido_index p {
    font-size: 90px;
    text-align: center;
    color: rgb(153, 48, 172);
  }
}
/* Estilos de banner */
#banner {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: auto;
}

#banner-img {
  width: 50%;
  min-width: 300px;
  height: auto;
}

#banner-img img {
  width: 70%;
  min-width: 300px;
}

#banner-text {
  width: 50%;
  height: auto;
  /* Establezco el background con degradado */
  background: linear-gradient(90deg, #008679, #2F6988, #545393, #008679, #2F6988, #545393, #008679);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* Hago el background mucho más grande para que pueda rotar suavemente */
  background-size: 200% 100%;
  /* Agrego la animación de barrido de izquierda a derecha */
  animation: flujoColores 5s linear infinite;
}

@keyframes flujoColores {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: 0 0;
  }
}
#banner-text h1 {
  font-size: 60px;
  font-weight: 700;
  text-align: center;
}

#banner-text p {
  font-size: 45px;
  text-align: center;
  color: cornflowerblue;
}

/* Estilos del contenido dentro del Main */
#main {
  width: 65%;
  align-items: center;
  height: auto;
  margin: auto;
  min-height: 100vh;
}

#main-nosotros {
  width: 65%;
  align-items: center;
  height: auto;
  margin: auto;
  min-height: 100vh;
}

@media (max-width: 615px) {
  #main-nosotros {
    width: 90%;
  }
}
.main__contenido_index h2, p {
  text-align: center;
}

.main__contenido_index h2 {
  color: darkslateblue;
  padding-top: 30px;
  font-size: 45px;
  font-weight: 600;
}

.main__contenido_index h3 {
  color: #008679;
  padding-top: 30px;
  font-size: 35px;
  font-weight: 400;
  text-align: center;
}

.main__contenido_index p {
  margin: auto;
  padding-top: 20px;
  font-size: 20px;
}

/* Contenedor principal del formulario */
.seccionFormulario {
  margin: auto;
  width: 80%;
}

.form-container {
  margin: auto;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 100%;
  max-width: 600px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

/* Encabezado de cada sección */
.form-section {
  grid-column: span 2;
}

/* Alineación del contenido */
fieldset {
  border: none;
  padding: 0;
}

legend {
  font-size: 1.2em;
  color: #333;
  margin-bottom: 10px;
  font-weight: bold;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #555;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

input:focus {
  border-color: #0066cc;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 102, 204, 0.5);
}

input:invalid {
  border-color: red;
}

input:valid {
  border-color: green;
}

/* Botones */
.form-buttons {
  grid-column: span 2;
  display: flex;
  justify-content: space-between;
}

button {
  width: 48%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #0066cc;
  color: white;
  font-size: 1em;
  cursor: pointer;
}

button:hover {
  background-color: #004c99;
}

button[type=reset] {
  background-color: #ff6666;
}

button[type=reset]:hover {
  background-color: #cc0000;
}

@media (max-width: 615px) {
  #banner-text {
    width: 100%;
  }
}
/* banner faq de informacion util*/
#bannerFaq {
  max-width: 1200px;
  display: block;
}

#bannerFaq-img img {
  width: 100%;
}

.main__contenido1 h1, p {
  text-align: center;
}

.main__contenido1 h1 {
  padding-top: 30px;
  font-size: 45px;
  font-weight: 600;
  padding-bottom: 30px;
}

.main__contenido1 p {
  margin: auto;
  padding-top: 25px;
  font-size: 30px;
}

.main__contenido1 { /* Establezco el background con degradado */
  background: linear-gradient(90deg, #008679, #2F6988, #545393, #008679, #2F6988);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* Hago el background mucho más grande para que pueda rotar suavemente */
  background-size: 200% 100%;
  /* Agrego la animación de barrido de izquierda a derecha */
  animation: flujoColores 5s linear infinite;
}

@keyframes flujoColores {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: 0 0;
  }
}
/*LIMPIO CSS*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

/* Asigno max-width a todo el body */
#body {
  max-width: 1800px;
  margin: auto;
  background-color: #f8f9fa;
}

#main {
  width: 65%;
  align-items: center;
  height: auto;
  margin: auto;
  min-height: 100vh;
}

/* Estilos del footer */
#footer {
  margin-top: 125px;
  padding-top: 15px;
  width: 100%;
  height: auto;
  background-color: darkslategray;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 15px;
  flex-wrap: wrap;
}

.footer__links-ul li a {
  text-decoration: none;
  color: #f8f9fa;
}

.footer__ssn, .footer__links, .footer__datafiscal {
  display: flex;
  flex-wrap: wrap;
}

/* Estilos de header */
#header {
  width: 100%;
  height: auto;
}

#navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 25px;
  margin-right: 25px;
}

#navBar img {
  height: 140px;
  margin: 10px;
}

#navBar li {
  display: inline-block;
  margin: 10px;
  font-size: larger;
}

/* Estilos de navbar btc */
.container-fluid {
  max-width: 1400px;
  justify-content: space-around;
}

.navbar-brand img {
  height: 100px;
  margin: 10px;
}

#banner-text-productos {
  margin: auto;
  height: auto;
  /* Establezco el background con degradado */
  background: linear-gradient(90deg, #008679, #2F6988, #545393, #008679, #2F6988, #545393, #008679);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* Hago el background mucho más grande para que pueda rotar suavemente */
  background-size: 200% 100%;
  /* Agrego la animación de barrido de izquierda a derecha */
  animation: flujoColores 5s linear infinite;
}

@keyframes flujoColores {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: 0 0;
  }
}
#banner-text-productos h1 {
  text-align: center;
  font-size: 40px;
}

#banner-text-productos h2 {
  text-align: center;
  font-size: 32px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  margin: auto;
  row-gap: 10px;
}

.botonera {
  width: auto;
  height: auto;
  margin: auto;
}

.botonera img {
  border: 1px solid #ddd;
  border-radius: 6px;
  color: #bbb;
  width: auto;
  height: auto;
  margin: auto;
}

.botonera img:hover {
  border: 3px solid #893aa3;
  border-radius: 6px;
  width: 160px;
  height: 150px;
}

.panel {
  background: transparent;
}

@media screen and (max-width: 1400px) {
  .row {
    width: 70%;
  }
}
@media screen and (max-width: 816px) {
  .row {
    width: 90%;
  }
  .botonera amp-img {
    border: 3px solid rgba(137, 58, 163, 0.3764705882);
    border-radius: 6px;
    width: 160px;
    height: 150px;
  }
}
.main__contenido_productos h3 {
  color: #008679;
  padding-top: 30px;
  font-size: 45px;
  font-weight: 400;
  text-align: center;
}

.main__contenido_productos p {
  color: #545393;
  margin: auto;
  padding-top: 20px;
  font-size: 25px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  margin: auto;
  row-gap: 10px;
}

.botonera-contacto {
  width: auto;
  height: auto;
  margin: auto;
}

.botonera-contacto img {
  border: 1px solid #ddd;
  border-radius: 6px;
  color: #bbb;
  width: 160px;
  height: 140px;
  margin: auto;
}

.botonera-contacto img:hover {
  border: 3px solid #893aa3;
  border-radius: 6px;
  width: 160px;
  height: 150px;
}

.panel {
  background: transparent;
}

@media screen and (max-width: 1400px) {
  .row {
    width: 70%;
  }
}
@media screen and (max-width: 816px) {
  .row {
    width: 90%;
  }
  .botonera-contacto amp-img {
    border: 3px solid rgba(137, 58, 163, 0.3764705882);
    border-radius: 6px;
    width: 160px;
    height: 150px;
  }
}

/*# sourceMappingURL=style.css.map */
