/* Estilos del footer */

#footer {
    margin-top: 125px;
    padding-top:15px ;
    width: 100%;
    height: auto; 
    background-color:darkslategray ;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 15px;
    flex-wrap: wrap;
    
}

.footer__links-ul li a {
    text-decoration: none;
    color: #f8f9fa;
}

.footer__ssn , .footer__links , .footer__datafiscal {
    display: flex;
    flex-wrap: wrap;
}